.HomeCo{
    margin : 4rem 6rem;
}
.HomeCo h1 {
    font-size: 3rem;
}
.firstCo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4.5rem;

}
.co-text{
    width: 45%;
    text-align: start;
    font-size: 1.1rem;
}
co-text h2{
    padding-bottom:1rem ;
}
.image{
    position: relative;
    width: 50%;
    display: flex;
    justify-content: space-between;
    z-index:-99;
}
.image img{
    width: 49%;
    height: 350px;
    object-fit: cover;
    border-radius: 6px;
    box-shadow: -1px 1px 62px -18px rgba(0,0, 0, 0.19);
}
.image img:nth-child(2){
   position: absolute;
   top:-10%;
   right: 0;
}

.divcards {
  padding-left: 2%;
  width: 90%;
}

.cardclass {
  width: 100%;
  height: 10rem;
  display: flex !important;
  align-items: center !important;
  flex-direction: column !important;
  border: #0583f2 solid 2px;
}
.logocard {
  width: 60px;
  height: 60px;
}
.titrecards h1 {
  font-size: 1.7rem;
  color: #ffc107;
}

.cardcontainer {
  display: flex !important;
  align-items: center !important;
  flex-direction: column !important;
}
.cardcontainer h1 {
  font-size: 1.2rem;
  color: black;
}

.cardcontainer:hover h1 {
  
  color: #0583f2;
}
@media screen and (max-width: 1100px) {
  .cardcontainer h1 {
  font-size: 1rem;
  color: black;
}
.logocard {
  width: 60px;
  height: 60px;
}
  
}
@media screen and (max-width: 700px) {
  .cardcontainer h1 {
  font-size: 0.7rem;
  color: black;
}
.logocard {
  width: 50px;
  height: 50px;
}
  
}
@media screen and (max-width: 400px) {
   .cardcontainer h1 {
  font-size: 0.4rem;
  color: black;
}
.logocard {
  width: 30px;
  height: 30px;
}
}


.imgbackground3 {
  float: right;
  width: 40%;
}
.hellotext3 {
  float: left;
  width: 60%;
  margin-top: 6%;
  font-size: 1.7rem;
}

.imgbackground2 {
  float: left;
  width: 40%;
}
.hellotext2 {
  float: right;
  width: 60%;
  margin-top: 8%;

  font-size: 1.7rem;
}
.imgbackground1 {
  float: right;
  width: 40%;
}
.hellotext1 {
  float: left;
  width: 60%;
  margin-top: 14%;
  font-size: 1.7rem;
}

.divphotos {
  display: flex;
  flex-direction: column;
  margin-top: 8rem;
  width: 90%;
  
}
.hellotext3 h1 {
  color: #0583f2;
  font-weight: bold;
}
.hellotext2 h1 {
  color: #0583f2;
  font-weight: bold;
}
.hellotext1 h1 {
  color: #0583f2;
  font-weight: bold;
}

@media screen and (max-width: 1100px) {
  .hellotext1 {
    font-size: 1.3rem;
  }
  .hellotext2 {
    font-size: 1.3rem;
  }
  .hellotext3 {
    font-size: 1.3rem;
  }
  .titrecards h1 {
  font-size: 1.5rem;
  color: #ffc107;
}
}
@media screen and (max-width: 700px) {
  .hellotext1 {
    font-size: 1rem;
  }
  .hellotext2 {
    font-size: 1rem;
  }
  .hellotext3 {
    font-size: 1rem;
  }
  .imgbackground2 {
    float: left;
    width: 40%;
    margin-top: 3%;
  }
  .titrecards h1 {
  font-size: 1.3rem;
  color: #ffc107;
}
}
@media screen and (max-width: 400px) {
  .hellotext1 {
    font-size: 0.5rem;
  }
  .hellotext2 {
    font-size: 0.5rem;
  }
  .hellotext3 {
    font-size: 0.5rem;
  }
  .titrecards h1 {
  font-size: 0.5rem;
  color: #ffc107;
}
}
.loginfromhome {
  color: rgb(255, 255, 255);
  background: linear-gradient(120deg, #f25e5e, #f2b3b3);
  width: 15rem;
  height: 2.9rem;
  border: 2px solid #f25e5e;

  font-size: 1.2rem;
  font-weight: bold;
}
.loginfromhome:hover {
  background: white;
  color: rgb(0, 0, 0);
  border: 2px solid black;
}
 .divcontainerhome p{
  font-size: 1.6rem;
}
@media screen and (max-width: 1100px) {
  .loginfromhome {
  color: rgb(255, 255, 255);
  background: linear-gradient(120deg, #f25e5e, #f2b3b3);
  width: 10rem;
  height: 2.4rem;
  border: 2px solid #f25e5e;

  font-size: 1rem;
  font-weight: bold;
}
 .divcontainerhome p{
  font-size: 1rem;
}


}
@media screen and (max-width: 700px) {
 .loginfromhome {
  color: rgb(255, 255, 255);
  background: linear-gradient(120deg, #f25e5e, #f2b3b3);
  width: 7rem;
  height: 2rem;
  border: 2px solid #f25e5e;

  font-size: 0.8rem;
  font-weight: bold;
}
 .divcontainerhome p{
  font-size: 0.7rem;
}

}
@media screen and (max-width: 400px) {
 .loginfromhome {
  color: rgb(255, 255, 255);
  background: linear-gradient(120deg, #f25e5e, #f2b3b3);
  width: 5rem;
  height: 1rem;
  border: 2px solid #f25e5e;

  font-size: 0.44rem;
  font-weight: bold;
}
.loginfromhome:hover {
  background: white;
  color: rgb(0, 0, 0);
  border: 2px solid black;
}
 .divcontainerhome p{
  font-size: 0.5rem;
}
}
